[Unit]
Description=RealSense D435i Streaming Receiver
After=network.target

[Service]
Type=simple
User=your-user
WorkingDirectory=$HOME/gst_realsense/
ExecStart=/usr/bin/python3 src/startup/receiver.py \
  --color --depth \
  --color-topic /camera/color/image \
  --depth-topic /camera/depth/image
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target