[Unit]
Description=RealSense D435i Streaming Sender
After=network.target

[Service]
Type=simple
User=your-user
WorkingDirectory=$HOME/gst_realsense/
ExecStart=/usr/bin/python3 src/startup/sender.py \
  --color --depth \
  --color-topic /camera/color/image_raw \
  --depth-topic /camera/depth/image_raw
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target